<head>
  <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
  <script src="static/jquery-3.2.0.min.js"></script>
  <script src="static/jquery.particleground.min.js"></script>
  <script src="static/js.cookie.js"></script>
  <link rel="stylesheet" href="static/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>picoValue</title>
  <script>
    var gaesu=1;
    var alert_gaesu=0;
    var s=true;
  </script>
  <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
  <script>
      var config = {
          apiKey: "AIzaSyAvztTYyaBoFbbtr0IwbCN1Qi0N_yJ16fY",
          authDomain: "unied-fd8c7.firebaseapp.com",
          databaseURL: "https://unied-fd8c7.firebaseio.com",
          storageBucket: "unied-fd8c7.appspot.com",
          messagingSenderId: "446008408728"
      };
      firebase.initializeApp(config);
  </script>
  <style>
    @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
    #mpi {
    position: fixed;
    display: block;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    background: #fff;
    border-radius: 20px;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #aaa;
    z-index: 1090;
    }
    h2, button {
      font-family: "Nanum Gothic", sans-serif;
    }
  </style>
</head>
<body style="background-color:#000000;height:100%">
  <script src="static/js/bootstrap.min.js"></script>
  <div class="body" style='width:100%;height:100%;position:fixed;top:0;left:0;z-index:-1'></div>
  <div class="jumbotron" style="background:none;background:none;position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);margin:0">
    <div class="container" id="cont" style="padding:0;width:auto">
      <!--<div style="clear: both">
          <p>
            <h2 style="color:#f535aa;float: left;padding: 10px 0px 0px 0px"><i>pico</i></h2>
            <h1 style="color:#461b7e">Value</h1>
          </p>
      </div>-->
      <!--<p style="color:#ffffff;text-align:center;letter-spacing:font-size:42px">< PICOVALUE ></p>-->
      <h2 style="color:#ffffff;text-align:center;margin:0">PICOVALUE</h2>
      <!--<p style="color:#ffffff;text-align:center">나도 몰랐던 아주 작은 가치까지</p>-->
      <!--
      <div class="input-group input-group-lg" style="padding:10px 0% 0px 0%">
          <span class="input-group-addon" style="border-radius:0;background:none;border:2px soild #ffffff;border-color:#ffffff;vertical-align:middle">
              <span class="glyphicon glyphicon-asterisk" style="color:#ffffff"></span>
          </span>
          <input type="password" class="form-control" placeholder="개발중. 접근하려면 관리자비번 필요." aria-describedby="sizing-addon4" id="dev_password" style="border-radius:0;border:2px soild #ffffff;border-color:#ffffff;background:none;color:#ffffff">
      </div>
    -->
      <div style="padding:10px 0% 0px 0%;" id="fbut">
          <button type="button" class="btn btn-lg btn-block" style="border-radius:0;background:none;color:#ffffff;border-color:#ffffff;position: absolute;left: 50%;transform:translateX(-50%)" id="picovalue">
              시작하기
          </button>
      </div>
    </div>
  </div>
  <div id="mpi">
    <img src="//i.addblock.net/equal.gif" class="hand" style="width: 40px;height: 40px;">
  </div>
  <audio id="ma" loop>
    <source src="static/melancholy.mp3" type='audio/mp3'>
  </audio>
  <!--<embed src="static/melancholy.mp3" autostart="true" loop="true" width="2" height="0"></embed>-->
  <script>
    $('.body').particleground();
    document.getElementById("ma").play();
    document.getElementById("picovalue").onclick=function(){
      /*var dev_pw=document.getElementById("dev_password").value;
      var pw_arr=['g', 'i', 'f', 't', 'e', 'd', '1', '7'];
      pw_arr.sort();
      var pw='';
      for(var i=0;i<8;i++){pw=pw+pw_arr[i];}
      if(dev_pw==pw){location.href="picovalueUI.html";}
      */
      Cookies.set('mtime', document.getElementById("ma").currentTime);
      Cookies.set('mplay', s);
      location.href="lgin.html";
    };
    document.getElementById("mpi").onclick=function() {
        if(s) {
            document.getElementsByClassName('hand')[0].src="//i.addblock.net/equal_stop.gif";
            document.getElementById("ma").pause();
            Cookies.set('mtime', document.getElementById("ma").currentTime);
            Cookies.set('mplay', false);
            s=false;
        }
        else {
            document.getElementsByClassName('hand')[0].src = "//i.addblock.net/equal.gif";
            document.getElementById("ma").play();
            Cookies.set('mplay', true);
            s=true;
        }
    }
  </script>
</body>
