<head>
  <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
  <script src="static/jquery-3.2.0.min.js"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="static/style.css" rel="stylesheet" media="screen">
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
  <script src="static/jquery.particleground.min.js"></script>
  <title>picoValue - signup</title>
  <script>
    var gaesu=0;
  </script>
  <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
  <script>
      var config = {
          apiKey: "AIzaSyAvztTYyaBoFbbtr0IwbCN1Qi0N_yJ16fY",
          authDomain: "unied-fd8c7.firebaseapp.com",
          databaseURL: "https://unied-fd8c7.firebaseio.com",
          storageBucket: "unied-fd8c7.appspot.com",
          messagingSenderId: "446008408728"
      };
      firebase.initializeApp(config);
      var database=firebase.database();
  </script>
</head>
<body style="background-color:#000000;height:100%">
  <script src="static/js/bootstrap.min.js"></script>
  <div class="body"></div>
  <div class="jumbotron">
    <div class="container" id="cont">
      <!--<div style="clear: both">
          <p>
            <h2 style="color:#f535aa;float: left;padding: 10px 0px 0px 0px"><i>pico</i></h2>
            <h1 style="color:#461b7e">Value</h1>
          </p>
      </div>
      <p>나도 몰랐던 아주 작은 가치까지</p>-->
      <h2>SIGNUP</h2>
      <div class="input-group input-group-lg" style="padding:10px 0% 0px 0%" id="fig">
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span>
          </span>
          <input type="text" class="form-control" placeholder="닉네임" aria-describedby="sizing-addon3" id="username">
      </div>
      <div class="input-group input-group-lg" style="padding:10px 0% 0px 0%">
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-envelope"></span>
          </span>
          <input type="text" class="form-control" placeholder="이메일" aria-describedby="sizing-addon3" id="email">
      </div>
      <div class="input-group input-group-lg" style="padding:10px 0% 0px 0%">
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-asterisk"></span>
          </span>
          <input type="password" class="form-control" placeholder="비밀번호" aria-describedby="sizing-addon4" id="password">
      </div>
      <div style="padding:10px 0% 0px 0%">
          <button type="button" class="btn btn-lg btn-block" style="width: 100%" id="signup">
              회원가입
          </button>
      </div>
        <div style="padding:54px 0% 0px 0%">
          <button type="button" class="btn btn-lg btn-block" style="width: 100%" id="goback">
             돌아가기
          </button>
      </div>
  </div>
  <script>
    $('.body').particleground();
    document.getElementById("signup").onclick=function() {
      var email=document.getElementById("email").value;
      var password=document.getElementById("password").value;
      firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
        var errorCode = error.code;
        var errorMessage = error.message;
        if(gaesu!=0){document.getElementById("alert"+gaesu).remove();}
        var newContent ='<div class="alert alert-danger" role="alert">'+errorCode.toUpperCase()+': '+errorMessage+'</div>'
        var newElement = document.createElement("div");
        newElement.id="alert"+(++gaesu);
        newElement.innerHTML=newContent;
        document.getElementById("fig").before(newElement);
      });
    }
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        user.updateProfile({
          displayName: document.getElementById("username").value
        }).then(function() {
          alert("회원가입 완료.")
          location.href="picovalueUI.html"
        }, function(error) {
          var errorCode = error.code;
          var errorMessage = error.message;
          if(gaesu!=0){document.getElementById("alert"+gaesu).remove();}
          var newContent ='<div class="alert alert-danger" role="alert">'+errorCode.toUpperCase()+': '+errorMessage+'</div>'
          var newElement = document.createElement("div");
          newElement.id="alert"+(++gaesu);
          newElement.innerHTML=newContent;
          document.getElementById("fig").before(newElement);
        });
      }
    });
    document.getElementById("goback").onclick=function () {
        location.href="lgin.html"
    }
  </script>
</body>
